.header {
    padding: 2px 0;
    text-align: center;
    background: rgb(0, 0, 0);
    border-radius: 4px;
}
.header img {
    width: 11%;
    height: 11%;
}
.form{
    background-color: rgb(239, 215, 166);
    border-radius: 10px;
    width: 100%;
    margin: 20px auto;
    padding: 15px;
    height: 100%;
}
.form-body{
    text-align: center;
    padding: 20px 20px;    
}
.form-body > *{
    padding: 6px;
}
.form__label{
    width: 100%;
}
.form_input{
    width: 100%; 
}
.footer{
    text-align: center;
}
.welcomePage{
    text-align: center;
    padding: 20px 20px;
}
.welcomePage img {
    width: 30%;
    height: 30%;
    padding: 20px 20px;
}