.header {
    padding: 2px 0;
    text-align: center;
    background: rgb(0, 0, 0);
    border-radius: 4px;
}
.header img {
    width: 20%;
    height: 20%;
}
.form{
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 100vh;
    color: azure;
    text-size-adjust: 500px;
}
.form-body{
    text-align: center;
    padding: 20px 20px;    
}
.form-body > *{
    padding: 6px;
}
.form__label{
    width: 100%;
}
.form_input{
    width: 100%; 
}
.footer{
    text-align: center;
}
.btn{
    margin : 4px
}
.welcomePage{
    text-align: center;
    padding: 20px 20px;
    background: rgb(0, 0, 0);
}
.welcomePage img {
    width: 30%;
    height: 30%;
    padding: 20px 20px;
}
::placeholder {
    color: rgb(0, 0, 0);
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: rgb(0, 0, 0);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: rgb(0, 0, 0);
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgb(0, 0, 0);
  }


